body {
  font-family: "Gill Sans";
  background-color: #010d17;
  text-align: center;
  color: orange;

}



a {
  text-decoration: none;
  color: hotpink;
  background-color: lavender;
  padding: 10px;
  border-radius: 25px;
  margin: 20px;
}
